.header__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.options__item:hover, .lista-menu__item:hover {
    background-color: var(--laranja);
    color: var(--black);
    transition: background 2s;
    border-radius: 1px;
}

.header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}
   
.container__image {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}


.container__button {
    display: none;
}

.container__titulo {
    display: none;
}

.options {
    display: none;
    color: var(--black);
    text-decoration: none;
}

.options__item {
    padding: 1em;
    text-transform: uppercase;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.options__link {
    text-decoration: none;
    color: var(--black);
}

@media screen and (min-width: 1024px) {
    

    .options__button:checked ~ .lista-menu {
        display:block;
        width: auto;
    }

    .options__button {
        display:none;
    }

    .header__menu-hamburger{
        display: none;
    }
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
   }

   .container__titulo--negrito {
        font-weight: 900;
   }

   .options {
        display: block;
        display: flex;
   }
}
    
